mixin sectionTitle(text,link)
  h3.section__title(dir="rtl"): a.section__link(href=link)=text

mixin carouselCat(title,sectionLink, videos)
  section.main__carousel.ms2aSection
    .container
      +sectionTitle(title,sectionLink)
      .carousel__videos
        each x in videos
          .ms2a__video
            img.ms2a__thumbnail(src=`/img/default_img.jpg`)
            .ms2a__videoC(unselectable="on" onselectstart="return false;" onmousedown="return false;")
              a.ms2a__videoCLink(href=`/category/${x._id}`)= x._id
            a.ms2a__videoLink(href=`/category/${x._id}`)
              .ms2a__videoC(unselectable="on" onselectstart="return false;" onmousedown="return false;")
            
mixin comment(comment)
  .video__comment-placeHolder
    .video__comment-flexy
      .video__user-image.video__user
        img.video__user-image(src=`/api/v1/videos/image/${comment.user.photo}`)
      .video__user-info
        h4.video__user-name
          span.video__user-name-user= `${comment.user.name}`
          span.video__user-published-time= `${comment.dateOfCreation.toLocaleDateString()}`
        p.video__user-comment= comment.comment
    .video__user-statis
      .video__block
        .video__info(data-user=`${comment.user.id}`)
          .video__info-hor.video__like-dislike
            .video__container
              if user
                button.video__button.comment__like(data-comment=comment.id class=`${user.liked_comments.includes(comment.id) ? 'active' : ''}`)
                  svg( viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;" )
                    path( d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z" )
              else
                button.video__button.comment__like(data-comment=comment.id)
                  svg( viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;" )
                    path( d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z" )
              span.video__span.comment__likes= comment.likes 
            .video__container
              if user
                button.video__button.comment__dislike(data-comment=comment.id class=`${user.disliked_comments.includes(comment.id) ? 'active' : ''}`)
                  svg( viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;" )
                    path( d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z")
              else 
                button.video__button.comment__dislike(data-comment=comment.id)
                  svg( viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;" )
                    path( d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z")
              span.video__span.comment__dislikes= comment.dislikes